alias ls='ls --color=auto -F'
alias cal='cal --sunday'
alias grep='grep --colour --with-filename --line-number'
alias mv='mv --verbose'
alias rm='rm --verbose'
alias cp='cp --verbose'
alias pping='ping 8.8.8.8'
